@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Rubik:ital,wght@0,400;0,600;0,700;1,400;1,500;1,800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}
html,
body{
    width: 100%;
    height: 100%;
    background: url(images/background.gif);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    align-items:center;
    justify-content:baseline;
    flex-direction: column;
    margin: 2vh;
    width:80vw;
    height: 90vh;
    border-radius: 15px;
    padding: 3vh;
    background-color:#fff;
}
.top{
    height: 8vh;
    width: 100%;
    border-radius: 20px;
    /* border: 2px solid gray; */
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    margin-bottom: 3vh;
    font-size: 2vh;
    color: #fff;
  
}

.bottom{
    color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 2vh;
    overflow: hidden;
    gap: 7px;
   
}
.bottom div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 8vh;
    cursor: pointer;
    background-color:rgba(139, 172, 233, 0.63);
    color: #000;
    border-radius: 50%;
    font-size: 2vh;
    font-weight: 700;
}

/* ---------------Game Over pages------------------------- */

.gameover{
    flex-direction: column;
    padding: 29vh 0;
    line-height: 10vh;
    text-align: center;
}
.gameover h1{
    font-size: 8vh;
    font-weight: 700;
    color: red;
}
.gameover h3{
    font-size: 4vh;
    color: green;
}
.gameover a{
    font-size: 20px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: rgb(155, 49, 155);
}

@media (max-width:920px){
    .container h4{
        font-size: 0.5px;
    }
    .gameover{
        flex-direction: column;
        padding: 20vh 0;
        line-height: 10vh;
        text-align: center;
    }

    .bottom{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow: hidden;
        gap: 13px;
       
    }
    .bottom div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4vh;
        width: 4vh;
        cursor: pointer;
        background-color: rgba(139, 172, 233, 0.63);
        border-radius: 50%;
        font-size: 2vh;
        font-weight: 700;
    }
    .container{
        display: flex;
        align-items:center;
        justify-content:baseline;
        flex-direction: column;
        width:85vw;
        height: 90vh;
        border-radius: 15px;
        padding: 2vh;
        background-color:#fff;
        margin: 2.5vh;
        margin-bottom:2.5vh;
    
    }
    .top{
        height: 5vh;
        width: 100%;
        border-radius: 20px;
        /* border: 2px solid gray; */
        background-color: cornflowerblue;
        display: flex;
        justify-content:space-around;
        padding: 0 5px;
        align-items: center;
        font-size: 1.5vh;
        color: #fff;
    }
}


/* ------------------------------------------Stater----------------------------------- */

.stater {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.753);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 10vh;
}

.stater h1 {
        font-size: 9vh;
        font-weight: 700;
        color: wheat;
    }

    .stater h2 {
        font-size: 5vh;
        font-weight: 700;
        color: rgb(134, 201, 134);
    }

    .stater button {
        margin-top: 20px;
        padding: 12px 40px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background-color: rgb(58, 111, 207);
        color: #fff;
    }

@media (max-width:920px) {
    .stater h1 {
        font-size: 4vh;
        font-weight: 700;
        color: wheat;
    }

    .stater h2 {
        font-size: 2.5vh;
        font-weight: 700;
        color: rgb(134, 201, 134);
    }

    .stater button {
        margin-top: 20px;
        padding: 10px 30px;
        border-radius: 15px;
        font-size: 15px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        background-color: rgb(58, 111, 207);
        color: #fff;
    }
}
